version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: prod_front
    ports:
      - "${FRONT_PORT}:80"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: prod_back
    ports:
      - "${BACK_PORT}:8080"
    environment:
    - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
    - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
    - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
    - SPRING_JPA_HIBERNATE_DDL_AUTO=${SPRING_JPA_HIBERNATE_DDL_AUTO}