services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: dev_front
    ports:
      - "${FRONT_PORT}:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./.env
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost:${BACK_PORT}/api
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: dev_back
    ports:
      - "${BACK_PORT}:8080"
    volumes:
      - ./backend:/app
      - /root/.m2
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
    depends_on:
      - db

  db:
    image: postgres:18.1
    container_name: dev_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: