@import 'tailwindcss';

/* Import Font Family */
@font-face {
  font-family: 'EB Garamond Regular';
  src: url('./assets/fonts/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Design Tokens */
@theme {
  /* Colors */
  --color-glacier-aqua: #80f3fd;
  --color-polar-blue: #005891;
  --color-midnight-ice: #013659;
  --color-frost-white: #f6fffd;
  --color-snow-ashes: #4d7a9d;
  --color-red-alert: #c74a1e;

  /* Font Families */
  --font-heading: 'Luckiest Guy', 'Arial Black', serif;
  --font-body: 'Inter', sans-serif;
}

/* Default global styles */
@layer base {
  body {
    @apply bg-glacier-aqua text-midnight-ice font-body uppercase;
    margin: 0;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }
}
